.transcript-zoom{
  width: 100%;
	height: 315px;
  overflow-y: auto;
  background: #fafafa;
  padding: 20px 30px;
}
.transcript-zoom .item{

}
.transcript-zoom .item .start{
  margin-bottom: 3px;
}
.transcript-zoom .item .text{
  background: #111;
  color: white;
  border-radius: 2px 12px 12px 12px;
  width: fit-content;
  padding: 6px;
}
.dummy-zoom{
  width: 100%;
	height: 315px;
	background: url("https://images.pexels.com/photos/4226261/pexels-photo-4226261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center;
	background-size: cover !important;
}